
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Method111</title>
</head>
<body>
    <div>
        <h1> View for Method 111</h1>
    </div>

    @Html.ActionLink("click for Method 222", "Method222")<br />
    @Html.ActionLink("click for Method 333", "Method333")<br />
</body>
</html>
