
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Method222</title>
</head>
<body>
    <div>
        <h1> View for Method 222</h1>
        <h4> No :@ViewData["no"]</h4>
    </div>
    <div>
        <h6>Roll : @ViewBag.stud.roll   Name : @ViewBag.stud.name</h6>
    </div>
</body>
</html>
