@model ControllerToView_April071024.Models.student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>demo</title>
</head>
<body>
    <div> 
              @Html.DisplayFor(x=>x.roll)
              @Html.DisplayFor(y=>y.name)
    </div>
</body>
</html>
